{{>head}}
{{>navbar}}
<div class="container-fluid">
<h3 class="text-center p-2">gallery </h3>
<div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ne2.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ne3.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ne4.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ne5.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ne7.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/la1.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/la2.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/la3.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/la4.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/la5.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/la6.jpg" height="230px" width="100%">
    </div>
     <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ta2.JPG" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ta3.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/t3.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ri14.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ri4.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/r15.JPG" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/de1.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/de2.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/de3.jpg" height="230px" width="100%">
    </div>
     <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/m1.JPG" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ke6.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ke1.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ke2.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ke4.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/si.JPG" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ke3.jpg" height="230px" width="100%">
    </div>
     <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/b4.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/b3.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/b5.jpg" height="230px" width="100%">
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
        <img class="rounded" src="/images/ne7.JPG" height="230px" width="100%">
    </div>
</div>
</div>

{{>footer}}