
{{>head}}
{{>navbar}}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/b2.jpeg" height="600px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/b7.jpg" height="600px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/b1.jpeg" height="600px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/b6.JPG" height="600px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/b5.jpg" height="600px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/b4.jpg" height="600px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/b3.jpg" height="600px" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container-fluid">
    <h4 class="text-center bg-white p-2 mt-2">Best Trip</h4>

    <div class="row">
        <div class="card mb-3 cardbest " style="width: 500px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/images/r14.JPG" class="img-fluid rounded-start picbest" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Rajasthan</h5>
                        <p class="card-text">2017-मैं और Raj उस समय greater Noida रहते थे ,
                            हमदोनो का कोई plan नही था कहा जाना है hostel से निकल गए थे । बस स्टैंड जाने के बाद ,जयपुर
                            जाने वाले बस में बैठे और बोले जयपुर चला जाए । फिर हमदोनों jaipur, jodhpur, Jaisalmer घूमे।
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 cardbest" style="width: 500px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/images/ne1.jpg" class="img-fluid rounded-start picbest" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Nepal</h5>
                        <p class="card-text">2021-Gaurav से रात को बात हो रहा था । फिर हमदोनो next day
                            ही जाने का प्लान बना लिए और गए भी । वहा kathmandu , Pokhara बस यही पे घूमे
                            और paragaling भी किए शुरू में डर लगा था but जाने का बाद नीचे आने के मन नहीं कर रहा था ।</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 cardbest" style="width: 500px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/images/ri4.jpg" class="img-fluid rounded-start picbest" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Rishikesh</h5>
                        <p class="card-text">2021-Rishikesh का प्लान toss करके हुआ था लेकिन मुझे नहीं पता था ये trip
                            बहुत अच्छा जाने वाला था और मुझे इस trip में इतना अच्छी दोस्त भी बन जाएगी ।
                            पहली बार मैं गंगा आरती यही पे देखा था ।इस trip में sukoon और अच्छी यादें है।
                            ये लिखते हुए मेरे background में song चल रहा है :राम झूला लक्ष्मण झूला घूम रहे हम खुलम खुला
                            ।</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h4 class="text-center bg-white p-2 mt-1">waterfall</h4>
    <div class="row">
        <div class="col-4"> 
            <div class="card" >
                <img src="/images/kw.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h5 class="card-title falltext ">kempty falls</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img src="/images/dw.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h5 class="card-title falltext">Bhagsung falls</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img src="/images/pw.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h5 class="card-title falltext">Patna fall</h5>
                </div>
            </div>
        </div>
            <div class="col-4">
        <div class="card" >
                <img src="/images/sw.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h5 class="card-title falltext">shikhar fall</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img src="/images/jogini.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h5 class="card-title falltext">Jogini fall</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img src="/images/bw.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h5 class="card-title falltext">hidden fall,Bir</h5>
                </div>
            </div>
        </div>
          <div class="col-4">
        <div class="card" >
                <img src="/images/nw.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h5 class="card-title falltext">neer fall</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img src="/images/pw1.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h5 class="card-title falltext">Patna fall </h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img src="/images/sw1.jpg" class="card-img-top fallpic"  alt="...">
                <div class="card-body">
                    <h6 class="card-title falltext">Shikhar fall</h6>
                </div>
            </div>
        </div>
        </div>
        <br>
        <h5 class="ancor">kedarkantha trip <a class="ancor" href="/kedar"> GO </a></h5>
        </div>
        

{{>footer}}

    