{{>head}}
{{>navbar}}
<div class="container-fluid">
<div class="row mt-3">
    <h3 class="text-center">Kedarkantha</h3>
    <h5 class="heading">day 1</h5>
    <div class="col-md-6 col-12">
        <img src="/images/ke1.jpg" height="400px" width="100%">
    </div>
    <div class="col-md-6 col-12">
        Humlog ka trip kedarkantha bahut hi achha gya hai .delhi-dehradun train se gye humlog
        ,Raste me COVID check hua Darr tha Mota ka kahi positive na aaye but negative report tha
        - sab thik gya woh din , dehradun se sankri jaane time raste mast -mast song ,
        phir game khelna uske baad ek jagah pe utre the humlog wahi pe jutta me paani chala gya .
        Agr jutta nhi sukhta bahut pareshani hoti .sankri pahuch gye humlog achhe se
        ,snow dekhe pahli baar sankri me bahut hi maza aaya tha .aur sankri ki raat humlog bhoot ka
        discuss kiye the , Buddy bahut darti hai bhoot se ,bahut sari horror story chali ,,phir start hota
        hai rajput ki story woh bhi bahut funny tha ,heer topic, aur C2 ki bhi story chala tha
        (C2 Mota ka pet ka name hai ).
        Ek baat to likhna bhul hi gye Himalayan shelter wale khane bahut achhe diye the .
    </div>
</div>
<div class="row mt-3 d-flex flex-row-reverse">
    <h5 class="heading">Day 2</h5>
    <div class="col-md-6 col-12">
        <img src="/images/ke2.jpg" height="400px" width="100%">
    </div>
    <div class="col-md-6 col-12">
        2nd day
        Humlog 10baje ke aas pass sankri se chale the juda ke talab se thoda nichhe tak jaana tha humlog ko ,,bahut hi
        dikkat hua tha chalne me but maza bhi aaraha tha ,23 ka group tha aur 2 guide bhi tha..Mota bahut thak Raha tha
        or mai bhi starting me bahut thak Raha tha ,but baad me thik ho gya …kash humlog apna bag khachhar pe de diye
        hote to itna dikkat nhi hota .but mazza aaya tha ..khate pite waha tak pahuch gye hamlog ..jaha khana Banta tha
        usi ki bagal me tent mill gya hamlog ko jo jyada achha tha ,ek tent me 5 ko rahna tha matlab 6 smjh lo Mota 2 ke
        barabar tha ..raat me kuchh dost Bane ..ek tent me total 10 log baith ke baate kar rahe the or Mota apna C2 ka
        kahani sunna raha tha ..(bhakti ,dhara,Sonika,golu bhai, Rinku Devi ) aur sab khana bhi tent me hi khaye the .
        Phir humlog so gye baat karte karte …gaurav gaate gaaate ..Mota dawa khate khate..aur mai bolte -bolte ....
    </div>
</div>
<div class="row mt-3">
    <h5 class="heading">Day 3</h5>
    <div class="col-md-6 col-12">
        <img src="/images/b2.jpg" height="400px" width="100%">
    </div>
    <div class="col-md-6 col-12">
        3rd day
        Morning me jage humlog bathroom ka alag hi scene the kya hi bataye,
        bahut hi Ganda smell tha but alag experience tha .usi time megha ka tabiyat kharab hogya tha ,woh vomiting
        karne lagi thi ,mujhe lga isko COVID ho gya kya but batana nhi tha aur bata dete to sayad woh nhi jaati trek
        pe ..phir humlog taiyar huye or kuchh khaye or trek ke liye jaane lage ..phir humlog juda ka talab tak pahuche
        the ,waha photo click hua or phir kuchh log ruk gye Jo aage jaana nhi chahte the ,phir humlog chalne lage ek
        ladka tha Josh laa deta tha maharastra ka tha ( chala chala chala bol ke ) .chalte chalte base camp ke pass
        pahuche waha Mota ruk gya , phir waha humlog ko raste banane pade buddy bhi banayi aur mai bhi ..phir humlog
        bahut thak bhi rahe the but mujhe summit pe jaane ka bahut Mann tha ,ruk nhi sakte the . Sonika pahadi thi
        woh thak bhi nhi Rahi aur mai kutte ki tarah haamf raha tha .mai ,dhara aur Sonika aage aage the dhara mast
        dance karti hai aur Sonika sitti mast bajati hai .phir thode der baad pta chala megha bhi chali gyi hai uska
        tabiyat kharab ho gya tha ..aage badhte gye hamlog G bola ek time pe aage nhi jaana hai , dimag kharab ho
        gya - mai to jaunga upper..phir koi summit karke aaraha tha woh log bolne lage agar resources nhi to to summit
        pe mat jao aane me dikkat bhi hogi or pareshan ho jaoge ,,tab bhi humlog aage gye mai , G ,buddy ,dhara ,
        Sonika . Phir bahut upper chale gye the ,phir niche nitin bhai awaj lagaye laut aao wahi se ,phir niras
        hoke niche aana pda ,hum Pancho bahut niras huye ..phir niche aane ke baad photo click kiye national flag
        ke sath …aur waha se aana start kiye …mai buddy G kudte ,slide karte huye niche aarahe the tabhi mere
        mobile snow me gir gya ,just usi time buddy itni jor se hansi ki puchho mat ,mujhe dikkat yeh baat ki
        nhi thi mobile gya saare photo chale jayenge aur buddy Hans Rahi thi ..tabi maharastra wala Banda aaya
        aur bola aaplogo me se kisi ka mobile gira hai ..phir lga chalo photo sab Bach gye apna…summit na hone
        ke karan mai jyada thakne lga tha ,,bahut hi slow ho gya tha .

        Waise nitin bhai ne bahut long slide karaya maza hi aagya tha ..phir G ek juda ke talab ke silde time pe gir
        gya or thoda chakar sa aane lga tha usko, phir thoda ruka phir humlog camp pe gye ,,Mota aur megha wahi the
        .mera pet or leg dard kar raha tha …thode der rest kiye tab tak ..ek funny scene hua koi to tent garm Kiya
        woh bhi bahut hi bekar wala ,insaan marr jaaye Aisa wala AAP sonch skate hai …phir raat hua ek camp 10
        log baate start hua but Aaj Mota ki baat yogita ki baat ,Sonika ka love story ,,sbka baat hua bache to
        bas ..... ….
    </div>
</div>
<div class="row mt-3 d-flex flex-row-reverse">
    <h5 class="heading">Day 4</h5>
    <div class="col-md-6 col-12">
        <img src="/images/ke3.jpg" height="400px" width="100%">
    </div>
    <div class="col-md-6 col-12">
        4th day
        Humlog waha se sankri ke liye chalna start kiye bahut hi bura lag raha tha aane time summit nhi hua megha ka
        tabiyat kharab hua uska Karan humlog hi hai , Aaane time bag humlog de diye khachhar pe,,aane time bahut Masti
        kiye burf se jo kaphi bhul nhi payenge ,, gaurav ka woh silde pe girna , megha ka side pe girte time expression
        or gali gajab hi , Mota raste me dikha nhi sayad Sonika ke baad wahi sankri pahucha hoga …but mai iss trip me
        kahi gira nhi tha. Mast tha ek song tha ,aaj bhi search kiye hai nhi mila hai..phir humlog sankri pahuche
        ,,kuchh khaye aur room me chale gye ..baat start hua humlogo ka ek room me 12 log ho gye utkarsh bhaiya or
        bhabhi ,waise bhabhi ka name nhi pta mujhe …phir C2 ka story chala ,megha ko pta chala COVID (sayad) hua hai
        usko ,Sonika ka tabiyat kharab ho gya ...room me story bahut der tak chala ....trip pe sab achhe the
    </div>
</div>
<div class="row mt-3">
    <h5 class="heading">Day 5</h5>
    <div class="col-md-6 col-12">
        <img src="/images/ke4.jpg" height="400px" width="100%">
    </div>
    <div class="col-md-6 col-12">
        5th day
        Morning me jage humlog yeh trip humlog ka khatm hone wala tha ,mann nhi lag raha tha mere aur baaki ko bhi sayad
        nhi lag raha hoga . Pta nhi kyun mera pet bhi dard kar raha tha ,,aate time sankri se dehradun mai bahut sant
        tha jabki Aisa character mera hai nhi . gaurav bhi mujhe sant sant dikh raha tha ..aur yeh trip khatm hone wala
        hi tha .phir humlog dehradun aaye station gye ,pta nhi kya hi chul macha tha mujhe baal katwane ka .. dehradun
        me baal katwaye or dadhi bhi ..phir buddy or G ke sath paani Puri khaye ..…phir humlog fresh huye dehradun phir
        train se Delhi ke liye nikal gaye ….achha trip tha achhe log the sab …bahut maza aaya humlog…. nizamuddin utre
        humlog buddy aur megha maushi yaha chali gyi ..mai Mota aur G apne flat govindpuri aagye …..
        Yeh trip humlog ka yahi khatam ho gya
        <br>
        <br>
        apni story mujhe share kar skate hai aap yaa advice<a href="/contact">click me</a>
    </div>
</div>
</div>
{{>footer}}