{{>head}}

{{>navbar}}
<div class="row">
<h5 class="text-center p-2">Rajasthan</h5>
<p>yeh trip kashmiri gate se decide hua tha. mai aur Raj dono jaipur gaye waha sudhanshu mila phir humlog 2days ghume  
    .phir raat ko raj ke bhai(durgesh bhaiya) se baat hua woh ek din baad jodhpur jaane waale 
    , phir humlog 10min me plan banaye aur raat ko hi jodhpur ke liye nikal gye ,morning me pahuche. jodhpur me 
    <b>Mehrangarh fort </b> mujhe achha laga (batman movie me ekscene Mehrangarh
    fort ka dekhe the, tab se mujhe dekhne ka mann tha is fort ko).<br>
    jodhpur se ghumne(jyada bhi nhi ghume) ke baad hmlog waha se <b>Jaisalmer</b> ke liye nikal gye. Jaisalmer me
     Raj ki bua-ji rahti thi ,tab to rahne ka plan wahi ho gya hamlog ka.
     yahape min 10 days ruke the ,pura jaisalmer ghume.camel safari me bahut mazza aaya tha ,<b>kuldhara</b> me
      Raj aur durgesh bhai
     mere sath jo prank karne wale the hone nhi diye (horror place hai yeh ).ek time rasta bhul gye the humlog ,
     dur-dur wind power ke alawa kuchh nhi dikh raha tha,
     phhatt chuke the ander se (mujhe to wrong-turn movie yaad aaraha tha ) usme se scooty start nhi ho raha tha
      ,baad me scooty thik hua phir gye kisi tarh.<br>
     waha pe khana aur bas ghumna tha golu molu sa hone laga tha mai hehe.<b>holi</b> jaisalmer me khele the ,air
      force area me gye the holi khelnge kuchh army bihar se the unke sath 
     holi khele log ,t-shirt to fatna diya mere sablog milkar (bihar me bahut jagah aise hi chalta hai kapde fadna holi me ).
     <b>jaisalmerfort</b> to achha hai hi ,fort ke ander jo market hai woh bhi bahut achha hai. fort se jaisalmer
      city achha dikhta tha ,sab ghar 
     ek jaisa hi lagta hai .<b>Gadsisar sagar lake </b> dekhne me bahut sundar hai ,yaha boating time raj ka mobile
      selfie stick me tha aur maine 
     ,mobile ko stick ke sath hi boat se bahar side se photo click kar rahe the (raj ka fatta hua tha ,kahi mobile 
     pani me na gir jaaye,aur mere 
     mukh pe muskan tha raj ko dekhkar).
     <br>
     waise achha gya tha trip humlog ka .<br>
</p>
<h5 class="text-center">Raj tumhe kuchh kahna hai kya ..<a href="/contact">click me</a></h5>
</div>
{{>footer}}