<div class="container-fluid">
    <br>
<h5 class="ancor">If there is any problem on this website,please contact me<a class="ancor" href="/contact"> click me</a></h5>
<footer class="bottom background">
    <h6 class="text-center text-white  p-2 mt-1">Anish Kalvin</h6>
    <h3 class="text-center text-white  p-2  "><a href="https://www.facebook.com/anishsingh.anishsingh"><img src="/images/fb.png" class="logo"></a>&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/kalvin_rover/"><img src="/images/insta.jpg" class="logo"></a></h3>
    <h6 class="text-center text-white  p-2 " >© 2022 rover. All rights Reserved.</h6>
    <p class="copyw text-center text-white ml-3">The content and images used on this site are copyright protected and copyrights vests with the respective owners.</p>
</footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>