</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand " href="/">Rover</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            TRIP
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " href="/error">Kolkata</a></li>
                            <li><a class="dropdown-item " href="/rajasthan">Rajasthan</a></li>
                             <li><a class="dropdown-item " href="/pending">Tajmahal</a></li>
                            <li><a class="dropdown-item " href="/pending">vaishno mata</a></li>
                            <li><a class="dropdown-item " href="/pending">gangtok</a></li>
                            <li><a class="dropdown-item " href="/pending">nepal</a></li>
                            <li><a class="dropdown-item " href="/error">ladakh</a></li>
                            <li><a class="dropdown-item " href="/pending">rishikish</a></li>
                            <li><a class="dropdown-item " href="/pending">dehradun</a></li>
                            <li><a class="dropdown-item " href="/pending">Mussoorie</a></li>
                            <li><a class="dropdown-item " href="/kedar">Kedarkantha</a></li>
                            <li><a class="dropdown-item " href="/pending">dharmkot</a></li>
                            <li><a class="dropdown-item " href="/pending">bir</a></li>
                            <li><a class="dropdown-item " href="/pending">kasol</a></li>
                            <li><a class="dropdown-item " href="/error">manali</a></li>
                        </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">GALLERY</a>
                    </li>

                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    